.orders{

padding:30px;

}

.title{

margin-bottom:20px;

font-size:28px;

}

.order-card{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px;

margin-bottom:10px;

border:1px solid #ddd;

border-radius:10px;

background:white;

box-shadow:
0 2px 5px
rgba(0,0,0,0.1);

}

.stock{

font-weight:bold;

font-size:18px;

}

.buy{

color:green;

font-weight:bold;

}

.sell{

color:red;

font-weight:bold;

}

.no-orders{

text-align:center;

margin-top:50px;

}
